* {
    margin: 0%;
    padding: 0%;
}

#top {

    height: 30%;
    width: 100%;

    background-image: url(images/donation12.png);
    background-repeat: no-repeat;

}


div {

    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 200px;

}

h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: rgb(139, 133, 133);
    padding-top: 200px;


}

#form {
    margin: 0% 20% 10% 20%;
}

.form {
    padding: 10% 20%;
}



footer {
    height: 60px;
    width: 100%;
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding-top: 30px;
}



p {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: rgb(100, 100, 126);
    margin: 2%;
}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    text-align: center;
    margin-left: 40%;


}

.content {
    display: flex;
    margin-left: 10%;
}

.content div {
    height: 300px;
    width: 300px;
    background-color: bisque;
    margin-left: 40px;
    padding: 10px;
}

.content p {
    margin: 0%;
    padding: 0%;
}

.content1 {
    margin-left: 100px;
}

input[type=Submit] {
    border: none;
    background-color: transparent;
    margin: 10px;

}

input[type=email] {
    width: 60%;
    border: none;
    padding: 12px 20px;
    margin: 0;

}

form {
    margin: 0px;
    padding: 0%;
    background-color: rgb(131, 168, 187);
}